<%= name %>(<%= tr %>)
<ul>
<% Object.keys(attrs).forEach(function(attr){ %>
  <li><%= attr %>: <%= attrs[attr] %></li>
<% }); %>
</ul>
<ul>
<% Object.keys(assos).forEach(function(asso){ %>
  <li <%= assos[asso] && 'title=' + '"' + assos[asso] + '"' || '' %> >
    <%= asso %> <%= assos[asso] %>
  </li>
<% }); %>
